<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_exam">  <!-- Change this to your app's package name -->

    <!-- Internet permission for API requests -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="flutter_exam"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:theme="@style/NormalTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Required for Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

    </application>

</manifest>
